<!-- Footer -->

<footer class="page-footer pt-3 bg-cl2 footer navbar-fixed-bottom">
  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <div class="row">
    </div>

    <div class="row">
      <div class="col-md-6 d-flex justify-content">
        <ul class="text-light">
          <li><a routerLink="/sobre-nos" class="text-light"><fa-icon [icon]="faUsersCog" class="faUsersCog"></fa-icon>  Sobre nós</a></li>
          <li><a href="https://unitedpeople.global/" target="_blank" class="text-light"><fa-icon [icon]="faTasks" class="faTasks"></fa-icon>  Conheça outros projetos</a></li>
        </ul>
      </div>

      <div class="col-md-5">
        <ul>
          <li><a class="text-light" href="https://brazil.generation.org/" target="_blank"><fa-icon [icon]="faHandsHelping" class="faHandsHelping"></fa-icon>  Parceiros</a></li>
          <li>
            <a class="text-light" routerLink="/termos-uso"><fa-icon [icon]="faFile" class="faFile"></fa-icon>  Termos de uso </a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Call to action -->
  <!-- Footer Elements -->
  <hr style=" height: 1px; background-color: white;">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-cl">
    <span class="text-light"> © 2020 Copyright: </span>
    <a class="text-light" href="https://github.com/WeslleyRocha/SustentArt-Spring" target="_blank">SustentArt no
      Github <fa-icon [icon]="faGithub" class="faGithub"></fa-icon> </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->