<div class="container">

  <!-- Resumo equipe -->
  <div class="container text-center mb-5 mt-5">
    <p>Tendo em mente as metas e desafios dentro da <b>12ª ODS da ONU</b>, isto é, consumo e produção responsáveis, temos como objetivo trazer impacto na sociedade através da diminuição do desperdício, reaproveitando recursos, ao mesmo tempo em que criamos  uma rede de apoio na comunidade.</p>
    <p>O fato de que vivemos em uma sociedade desigual, na qual a fome e a dificuldade de acesso a produtos estão aumentando, aliado à possibilidade de conexão de comunidades numa rede de apoio mútuo, nos inspiraram para pensar em um projeto que transforme a maneira pela qual lidamos com o excesso.</p>
      <p>Assim, focando na <b>ODS 12 da ONU</b>, mas também englobando outros indicadores que visam tornar nosso planeta um lugar mais sustentável, criamos o <b>SustentArt</b>: um projeto que vai unir a comunidade, <i>ressignificar</i> a definição de lixo, além de promover as artes e, quem sabe, trazer novas fontes de renda ou de lazer para quem estiver disposto a embarcar nessa viagem.</p>
  </div>
  <!-- Resumo equipe -->

  <!-- jumbotron -->
  <div class="jumbotron jumbotron-fluid mt-3 jumbotron_bg_color">
    <div class="container">
      <h1 class="display-4">Sobre nós:</h1>
      <p class="lead"> Formandos da Turma 9 do <b>Bootcamp de Desenvolvimento Full Stack</b> da <b>Generation Brasil</b>, um grupo diverso, mas coeso e complementar! Cada um (com sua vivência, preferências e ideias) doou um pouquinho de si para deixar fazer do <b>SustentArt</b> uma rede social que não apenas ajude sua comunidade, mas a Mãe Terra.  </p>
    </div>
  </div>
  <!-- jumbotron -->

  <!-- Fotos, Participante Henrique-->
  <li class="media my-5">
    <img class="mr-3 border border-success rounded" src="assets/Henrique.jpg" alt="Imagem do membro da Equipe"
      style="width:180px">
    <div class="media-body d-flex justify-content-center flex-column">
      <h5 class="mt-0 mb-1">Henrique Tanaka</h5>
      <p>Sou de Maringá, cidade do interior do Paraná, e tenho 20 anos. <br> Em 2018 vim a São Paulo em busca de
        oportunidades, buscando aperfeiçoar minha experiência na área da programação. <br>
        No tempo livre faço os trabalhos da faculdade, pesquiso códigos em fóruns, canto karaokê e assisto a séries
        orientais.</p>

      <!-- Botoes likedin, GitHub -->
      <p class="d-flex">
        <a href="https://www.linkedin.com/in/henrique-seiji-tanaka-da-silva-933a191b6/" target="_blank">
          <fa-icon [icon]="faLinkedin" class="fa-2x mr-2 text-primary"></fa-icon>
        </a>

        <a href="https://github.com/henritanaka" target="_blank">
          <fa-icon [icon]="faGithubSquare" class="fa-2x mr-2 text-dark"></fa-icon>
        </a>
      </p>
      <!-- Botoes likedin, GitHub -->
    </div>
  </li>
  <!-- Fotos, Participante Henrique-->

  <!-- Fotos, Participante Josimar-->
  <li class="media my-5">
    <img class="mr-3 border border-primary rounded" src="assets/Josemar2.jpg" alt="Imagem do membro da Equipe"
      style="width:180px">
    <div class="media-body d-flex justify-content-center flex-column">
      <h5 class="mt-0 mb-1">Josimar Santos</h5>
      <p>Sou uma pessoa que gosta de estar com a família e amigos, que gosta de viajar, jogar futebol e
        cozinhar.<br>Na parte profissional valorizo as pessoas sou apaixonado por tecnologia e gosto de aprender e
        compartilhar conhecimento e contribuir com os valores e politicas da empresa.</p>

      <!-- Botoes likedin, GitHub -->
      <p class="d-flex">
        <a href="https://www.linkedin.com/in/josimar-pereira-a27511170/" target="_blank">
          <fa-icon [icon]="faLinkedin" class="fa-2x mr-2 text-primary"></fa-icon>
        </a>

        <a href="https://github.com/Josimar722" target="_blank">
          <fa-icon [icon]="faGithubSquare" class="fa-2x mr-2 text-dark"></fa-icon>
        </a>
      </p>
      <!-- Botoes likedin, GitHub -->
    </div>
  </li>
  <!-- Fotos, Participante Josimar-->

  <!-- Fotos, Participante Vanessa-->
  <li class="media my-5">
    <img class="mr-3 border border-success rounded" src="assets/Vanessa.jpg" alt="Imagem do membro da Equipe"
      style="width:180px">
    <div class="media-body d-flex justify-content-center flex-column">
      <h5 class="mt-0 mb-1">Vanessa Marchetti </h5>
      <p>Curiosa e comunicativa, apaixonada por esportes e com muita coragem para enfrentar novos desafios e fazer a
        diferença.<br>Após 5 anos atuando como advogada, decidi me desafiar e desbravar o mundo da tecnologia, pelo
        qual acabei me envolvendo. Como advogada, atuei no contencioso e consultivo, focada em direito imobiliário e
        consumidor.</p>

      <!-- Botoes likedin, GitHub -->
      <p class="d-flex">
        <a href="https://www.linkedin.com/in/vanessa-marchetti/" target="_blank">
          <fa-icon [icon]="faLinkedin" class="fa-2x mr-2 text-primary"></fa-icon>
        </a>

        <a href="https://github.com/marchettivanessa" target="_blank">
          <fa-icon [icon]="faGithubSquare" class="fa-2x mr-2 text-dark"></fa-icon>
        </a>
      </p>
      <!-- Botoes likedin, GitHub -->
    </div>
  </li>
  <!-- Fotos, Participante Vanessa-->

  <!-- Fotos, Participante Weslley -->
  <ul class="list-unstyled mt-3">

    <li class="media my-5">
      <img class="mr-3 border border-primary rounded" src="assets/Weslley.jpg" alt="Imagem do membro da Equipe"
        style="width:180px">

      <div class="media-body d-flex justify-content-center flex-column">
        <h5 class="mt-0 mb-1">Weslley Rocha</h5>
        <p>Apaixonado por tecnologia. Técnico em TI, formado em redes de computadores e agora
          cursando o 3º semestre em Gestão de T.I na UNIP. Focado em aprofundar meu conhecimento, concorri com mais de 2
          mil candidatos e fui aprovado para o Bootcamp da Generation Brasil para Desenvolvimento Web Java Jr. No tempo
          livre gosto de me conectar com a natureza, praticar atividade física e jogar video game.</p>

        <!-- Botoes likedin, GitHub -->
        <p class="d-flex">
          <a href="https://www.linkedin.com/in/weslleyrocha/" target="_blank">
            <fa-icon [icon]="faLinkedin" class="fa-2x mr-2 text-primary"></fa-icon>
          </a>

          <a href="https://github.com/WeslleyRocha" target="_blank">
            <fa-icon [icon]="faGithubSquare" class="fa-2x mr-2 text-dark"></fa-icon>
          </a>
        </p>
        <!-- Botoes likedin, GitHub -->
      </div>
    </li>
    <!-- Fotos, Participante Weslley -->

  </ul>
</div>